<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EduQuest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="min-h-screen pb-20 text-gray-700">

    <nav
        class="glass-nav sticky top-0 z-50 px-6 py-4 flex items-center justify-between shadow-sm rounded-b-3xl mx-2 mt-2">
        <a href="/" class="flex items-center gap-2 cursor-pointer">
            <div class="text-3xl font-black text-blue-500 tracking-tight flex items-center gap-1">
                EduQuest
                <span class="text-2xl bounce-icon">📐</span>
                <span class="text-2xl bounce-icon">🧬</span>
                <span class="text-2xl bounce-icon">💻</span>
            </div>
        </a>
    </nav>